Repository SwissDataScienceCenter/renku-graph, pull requests merged in 2020-11, with the labels that each got.

#481 Batch date column migration bug
  event-log/src/main/scala/io/renku/eventlog/init/BatchDateAdder.scala
  helm-chart/renku-graph/Chart.yaml
  helm-chart/renku-graph/values.yaml
  version.sbt
Labels: bug, event-log

#490 chore: cli upgrade to 0.12.0
  helm-chart/renku-graph/Chart.yaml
  triples-generator/Dockerfile
  version.sbt
Labels: triples-generator

#502 View queries speed up
  event-log/src/main/scala/io/renku/eventlog/metrics/StatsFinder.scala
  event-log/src/main/scala/io/renku/eventlog/subscriptions/EventFetcher.scala
  helm-chart/renku-graph/Chart.yaml
  version.sbt
Labels: event-log, improvement

#504 Events timeouts extended
  event-log/src/main/scala/io/renku/eventlog/subscriptions/EventFetcher.scala
  helm-chart/renku-graph/Chart.yaml
  helm-chart/renku-graph/values.yaml
  triples-generator/src/main/resources/application.conf
  version.sbt
Labels: event-log, improvement, triples-generator

#511 Events prioritisation changes
  event-log/src/main/scala/io/renku/eventlog/subscriptions/ProjectPrioritisation.scala
  event-log/src/test/scala/io/renku/eventlog/subscriptions/ProjectPrioritisationSpec.scala
  helm-chart/renku-graph/Chart.yaml
  version.sbt
Labels: event-log, improvement

#494 232 flatten json ld
  acceptance-tests/src/test/scala/ch/datascience/graph/acceptancetests/flows/RdfStoreProvisioning.scala
  acceptance-tests/src/test/scala/ch/datascience/graph/acceptancetests/stubs/RemoteTriplesGenerator.scala
  graph-commons/src/test/scala/ch/datascience/graph/model/GraphModelGenerators.scala
  graph-commons/src/test/scala/ch/datascience/rdfstore/InMemoryRdfStore.scala
  graph-commons/src/test/scala/ch/datascience/rdfstore/entities/DataSet.scala
  graph-commons/src/test/scala/ch/datascience/rdfstore/entities/InvalidationEntity.scala
  graph-commons/src/test/scala/ch/datascience/rdfstore/entities/PartialEntity.scala
  graph-commons/src/test/scala/ch/datascience/rdfstore/entities/Person.scala
  graph-commons/src/test/scala/ch/datascience/rdfstore/entities/Project.scala
  graph-commons/src/test/scala/ch/datascience/rdfstore/entities/bundles.scala
  graph-commons/src/test/scala/ch/datascience/rdfstore/entities/package.scala
  helm-chart/renku-graph/Chart.yaml
  json-ld/src/main/scala/io/renku/jsonld/Cursor.scala
  json-ld/src/main/scala/io/renku/jsonld/JsonLD.scala
  json-ld/src/main/scala/io/renku/jsonld/Reverse.scala
  json-ld/src/main/scala/io/renku/jsonld/flatten/Flatten.scala
  json-ld/src/main/scala/io/renku/jsonld/flatten/IDValidation.scala
  json-ld/src/main/scala/io/renku/jsonld/flatten/JsonLDArrayFlatten.scala
  json-ld/src/main/scala/io/renku/jsonld/flatten/JsonLDEntityFlatten.scala
  json-ld/src/test/scala/io/renku/jsonld/FlattenerSpec.scala
  json-ld/src/test/scala/io/renku/jsonld/JsonLDSpec.scala
  json-ld/src/test/scala/io/renku/jsonld/ReverseSpec.scala
  json-ld/src/test/scala/io/renku/jsonld/generators/Generators.scala
  json-ld/src/test/scala/io/renku/jsonld/generators/JsonLDGenerators.scala
  knowledge-graph/src/test/scala/ch/datascience/knowledgegraph/datasets/EntityGenerators.scala
  knowledge-graph/src/test/scala/ch/datascience/knowledgegraph/datasets/rest/IODatasetsFinderSpec.scala
  triples-generator/src/test/scala/ch/datascience/triplesgenerator/eventprocessing/triplescuration/CurationGenerators.scala
Labels: json-ld

#466 feature: add status to event_log/events POST
  event-log/README.md
  event-log/src/main/scala/io/renku/eventlog/creation/EventCreationEndpoint.scala
  event-log/src/main/scala/io/renku/eventlog/creation/EventPersister.scala
  event-log/src/main/scala/io/renku/eventlog/model.scala
  event-log/src/test/scala/io/renku/eventlog/DbEventLogGenerators.scala
  event-log/src/test/scala/io/renku/eventlog/creation/EventCreationEndpointSpec.scala
  event-log/src/test/scala/io/renku/eventlog/creation/EventPersisterSpec.scala
  event-log/src/test/scala/io/renku/eventlog/subscriptions/EventsDispatcherSpec.scala
  event-log/src/test/scala/io/renku/eventlog/subscriptions/EventsSenderSpec.scala
  graph-commons/src/main/scala/ch/datascience/controllers/ClientMessages.scala
Labels: do-not-merge
